<%- layout('layouts/boilerplate') %>
<div class="col-8 offset-2">
    <h1 class="text-center">New Campground</h1>
        <form action="/Hotspots/viewspot" method="post">
        <div class="form-floating mb-3">
            <input name="spot[name]" type="text" class="form-control" id="name" placeholder="Username">
            <label for="name">Spot Name</label>
        </div>
        <div class="form-floating mb-3">
            <input name="spot[location]" type="text" class="form-control" id="location">
            <label for="location">Location</label>
        </div>
        <div class="form-floating mb-3">
            <select name="spot[Type]" class="form-select" id="Type" aria-label="Floating label select example">
                <option selected>Think of something later</option>
                <option value="Bar/Pub">Bar/Pub</option>
                <option value="Scenic">Scenic</option>
                <option value="Monumnetal">Monumental</option>
            </select>
            <label for="Type">Works with selects</label>
        </div>
        <div class="mb-3">
            <label for="basic-url" class="form-label">Images</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon3">Enter Image URL</span>
                <input name="spot[image]" type="text" class="form-control" id="image" aria-describedby="basic-addon3 basic-addon4">
            </div>
            <!-- <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div> -->
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input name="spot[price]" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
        </div>
        <div class="form-floating mb-3">
            <textarea name="spot[description]" class="form-control" placeholder="Leave a comment here" id="description"></textarea>
            <label for="description">Description</label>
        </div>
        <div class="d-grid">
            <button class="btn btn-outline-primary">Submit</button>
        </div>
    </form>
</div>