<% layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="/cssSheets/registerPage.css">

    <form action="/register" method="post">
        <h3>Sign Up</h3>

        <label for="email">Email</label>
        <input type="text" placeholder="Email or Phone no" id="email" name="email">
        
        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <button>Register</button>
        <div class="social">
            <p>Already Have an account? <a href="/login">Login Here</a> </p>
        </div>
    </form>
